<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.outpatient.mapper.DisposalRequestMapper">
    <resultMap id="BaseResultMap" type="com.neuedu.outpatient.entity.DisposalRequest">
        <id column="id" property="id"/>
        <result column="register_id" property="registerId"/>
        <result column="medical_technology_id" property="medicalTechnologyId"/>
        <result column="disposal_info" property="disposalInfo"/>
        <result column="disposal_position" property="disposalPosition"/>
        <result column="creation_time" property="creationTime"/>
        <result column="disposal_employee_id" property="disposalEmployeeId"/>
        <result column="inputdisposal_employee_id" property="inputdisposalEmployeeId"/>
        <result column="disposal_time" property="disposalTime"/>
        <result column="disposal_result" property="disposalResult"/>
        <result column="disposal_state" property="disposalState"/>
        <result column="disposal_remark" property="disposalRemark"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO disposal_request(register_id,medical_technology_id,disposal_info,disposal_position,creation_time,disposal_employee_id,inputdisposal_employee_id,disposal_time,disposal_result,disposal_state,disposal_remark)
        VALUES(#{registerId},#{medicalTechnologyId},#{disposalInfo},#{disposalPosition},#{creationTime},#{disposalEmployeeId},#{inputdisposalEmployeeId},#{disposalTime},#{disposalResult},#{disposalState},#{disposalRemark})
    </insert>

    <select id="selectByRegisterId" resultMap="BaseResultMap">
        SELECT * FROM disposal_request WHERE register_id = #{registerId}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM disposal_request WHERE id = #{id}
    </select>
</mapper>
