<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.outpatient.mapper.MedicalRecordDiseaseMapper">
    <insert id="batchInsert">
        INSERT INTO medical_record_disease(medical_record_id,disease_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.medicalRecordId},#{item.diseaseId})
        </foreach>
    </insert>

    <delete id="deleteByMedicalRecordId">
        DELETE FROM medical_record_disease WHERE medical_record_id = #{medicalRecordId}
    </delete>
</mapper>
