<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.registration.mapper.RegisterMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO register(
        case_number,real_name,gender,card_number,birthday,age,age_type,
        home_address,visit_date,noon,deptment_id,employee_id,regist_level_id,
        settle_category_id,is_book,regist_method,visit_state,regist_money
        )VALUES(
        #{caseNumber},#{realName},#{gender},#{cardNumber},#{birthday},#{age},#{ageType},
        #{homeAddress},#{visitDate},#{noon},#{deptmentId},#{employeeId},#{registLevelId},
        #{settleCategoryId},#{isBook},#{registMethod},#{visitState},#{registMoney}
        )
    </insert>

    <select id="selectList" resultType="com.neuedu.registration.entity.Register">
        SELECT * FROM register
        <where>
            <if test="query.realName != null and query.realName != ''">
                real_name LIKE CONCAT('%',#{query.realName},'%')
            </if>
            <if test="query.deptmentId != null">
                deptment_id = #{query.deptmentId}
            </if>
            <if test="query.visitState != null">
                visit_state = #{query.visitState}
            </if>
            <if test="query.visitDate != null">
                DATE(visit_date) = #{query.visitDate}
            </if>
        </where>
        ORDER BY visit_date DESC
    </select>

    <select id="selectById" resultType="com.neuedu.registration.entity.Register">
        SELECT * FROM register WHERE id=#{id}
    </select>

    <update id="updateVisitState">
        UPDATE register SET visit_state=#{visitState} WHERE id=#{id}
    </update>

    <update id="updateCaseNumber">
        UPDATE register SET case_number=#{caseNumber} WHERE id=#{id}
    </update>

    <select id="selectMaxCaseNumber" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(CAST(case_number AS UNSIGNED)), 0) FROM register
    </select>
</mapper>
